




*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid; */
}



/* body css */


header{
    background-image: url("../utility/images/banner/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 890px;
}

header > div{
    width: 525px;
    /* border: 1px solid; */
    text-align: right;
    padding-top: 15%;
    padding-left: 60%;
}
header h1{
    font-size: 65px;
    font-weight: 900;
    font-family: "Work Sans", sans-serif;
}
header p{
    font-size: 16px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    margin-top: 30px;
    margin-bottom: 25px;
}
header button{
    font-size: 20px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    width: 160px;
    height: 64px;
    color: white;
    background-color: #F15B22;
    border: none;
    border-radius: 10px;
}








#main-1-section{
    /* border: 1px solid; */
    margin: auto;
    margin-top: 20vh;
    width: 80%;
    display: flex;
}

#main-1-section-right{
    padding-left: 20vw;
    padding-top: 120px;
    /* border: 1px solid; */
}

#main-1-section-right h4{
    font-size: 40px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
}
#main-1-section-right p{
    font-size: 16px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    width: 416px;
    margin-bottom: 50px;
    margin-top: 20px;
}
#main-1-section-right ul > li{
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    font-family: "Work Sans", sans-serif;
    margin-left: 35px;
}




#main-2-section{
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20vh;
}
#main-2-section h4{
    font-size: 40px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 8vh;
}
#main-2-section > div{
    display: flex;
}
#main-2-section > div h6{
    font-size: 30px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    padding-top: 20px;
}
#main-2-section > div p{
    font-size: 25px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    padding-top: 15px;
}
#main-2-section > div >div{
    /* border: 1px solid; */
    width: 25%;
}













#main-3-section{
    width: 1140px;
    height: 300px;
    margin: auto;
    margin-top: 40vh;
    margin-bottom: 30vh;
    background-image: url(../utility/images/watch.png);
    /* background-image: linear-gradient(to right, red , yellow); */
}


#main-3-section-div{
    position: relative;
    bottom: 25vh;
    left: 4vw;
}

#main-3-section-div h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: white;
}
#main-3-section-div button{
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: black;
    background-color: white;
    height: 64px;
    width: 160px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}












footer{
    display: flex;
    background-color: #1B1919;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


#footer-left{
    margin-left: 20vw;
}
#footer-left h4{
    font-size: 45px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: white;
}
#footer-left p{
    font-size: 14px;
    font-weight: 200;
    font-family: "Work Sans", sans-serif;
    color: white;
    margin-top: 20px;
}

#footer-left div img{
    margin-top: 30px;
    margin-right: 15px;
    width: 40px;
}







#footer-right{
    margin-left: 25vw;
}

#footer-right h6{
    font-size: 25px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: white;
    margin-bottom: 30px;
}
#footer-right input{
    width: 325px;
    height: 50px;
    background-color: #1B1919;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
}

#footer-right button{
    width: 130px;
    height: 50px;
    background-color: white;
    color: #F15B22;
    font-size: 18px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border: none;
    border-radius: 5px;
}








