header{
    background-image: url("../utility/images/banner/banner3.png");
    height: 990px;
}


header button{
    color: #005FAC;
    background-color: white;
}
#main-3-section-div button{
    color: #005FAC;
}
#footer-right button{
    background-color: #005FAC;
    color: white;
}